<ion-header>
  <ion-toolbar>
    <ion-title>
      My Recipes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="Search recipes"
    (ionInput)="onSearchRecipes($event)"
  ></ion-searchbar>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col
        *ngFor="let recipe of recipes"
        class="ion-no-padding"
        size="6"
      >
        <app-recipe-item
          [recipe]="recipe"
          (recipeClicked)="onRecipeClicked($event)"
        ></app-recipe-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
